In [1]:
import requests
import pandas as pd
from secret import keys

In [2]:
api_key = keys.API_KEY

In [3]:
base_url = 'https://api.eia.gov/v2/electricity/rto/fuel-type-data/data'

## Sun, Natural Gas, Coal

In [4]:
params = {
    'api_key': api_key,
    "frequency": "hourly", # pulling data in hourly.
    "data[]": "value", # amount of energy produced or consumed?
    "facets[fueltype][]":["SUN", "NG", "COL"], # energy source (solar)
    "facets[respondent][]": "SOCO", # recording location of data (Southern Company)
    "start": "2021-07-01", # Time frame to pull data (start and end date)
    "end": "2022-07-29",
    "offset": 0
}

In [5]:
dfs = []
for off in range(0, 30000, 5000):
    
    params["offset"] = off
    
    resp = requests.get(base_url, params=params)
    
    data = resp.json()
    
    df = pd.DataFrame(data['response']['data'])
    
    dfs.append(df)

In [7]:
df2 = pd.pivot(data=pd.concat(dfs), index='period', columns='fueltype', values='value')
df2

fueltype        COL     NG   SUN
period
2021-07-01T00  9464  20540   177
2021-07-01T01  9382  19923    32
2021-07-01T02  9286  18983     0
2021-07-01T03  9163  17476     0
2021-07-01T04  8195  15457     0
...             ...    ...   ...
2022-07-28T19  7925  22715  1099
2022-07-28T20  7932  23071  1006
2022-07-28T21  7993  23724   798
2022-07-28T22  7913  23025   765
2022-07-28T23  7840  23101   484

[9432 rows x 3 columns]

In [8]:
df2.index = pd.to_datetime(df2.index)

In [ ]:
# saved the dataframe to my desktop
df2.to_csv('../data/df2.csv')

## Nuclear

In [14]:
params_nuc = {
    'api_key': api_key,
    "frequency": "hourly", # pulling data in hourly.
    "data[]": "value", # amount of energy produced or consumed?
    "facets[fueltype][]":"NUC", # energy source (solar)
    "facets[respondent][]": "SOCO", # recording location of data (Southern Company)
    "start": "2021-07-01", # Time frame to pull data (start and end date)
    "end": "2022-07-29",
    "offset": 0
}

In [15]:
resp_nuc = requests.get(base_url, params=params_nuc)

In [16]:
resp_nuc.status_code

200

In [18]:
dfs_nuc = []
for off in range(0, 30000, 5000):
    
    params_nuc["offset"] = off
    
    resp_nuc = requests.get(base_url, params=params_nuc)
    
    data_nuc = resp_nuc.json()
    
    df_nuc = pd.DataFrame(data_nuc['response']['data'])
    
    dfs_nuc.append(df_nuc)

In [41]:
df_nuc = pd.concat(dfs_nuc)
df_nuc.head(3)

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2021-07-01T00,SOCO,"Southern Company Services, Inc. - Trans",NUC,Nuclear,5376,megawatthours
1,2021-07-01T01,SOCO,"Southern Company Services, Inc. - Trans",NUC,Nuclear,5372,megawatthours
2,2021-07-01T02,SOCO,"Southern Company Services, Inc. - Trans",NUC,Nuclear,5373,megawatthours

In [70]:
df_nuc = df_nuc[['period', 'value']]
df_nuc.head(3)

          period  value
0  2021-07-01T00   5376
1  2021-07-01T01   5372
2  2021-07-01T02   5373

In [ ]:
# df_nuc.index = pd.to_datetime(df_nuc.index)
# df_nuc.head(3)

In [71]:
df_nuc.to_csv('../data/df_nuc.csv')

## Oil

In [22]:
params_oil = {
    'api_key': api_key,
    "frequency": "hourly", # pulling data in hourly.
    "data[]": "value", # amount of energy produced or consumed?
    "facets[fueltype][]":"OIL", # energy source (solar)
    "facets[respondent][]": "SOCO", # recording location of data (Southern Company)
    "start": "2021-07-01", # Time frame to pull data (start and end date)
    "end": "2022-07-29",
    "offset": 0
}

In [23]:
dfs_oil = []
for off in range(0, 30000, 5000):
    
    params_oil["offset"] = off
    
    resp_oil = requests.get(base_url, params=params_oil)
    
    data_oil = resp_oil.json()
    
    df_oil = pd.DataFrame(data_oil['response']['data'])
    
    dfs_oil.append(df_oil)

In [40]:
df_oil = pd.concat(dfs_oil)
df_oil.head(3)

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2021-07-01T00,SOCO,"Southern Company Services, Inc. - Trans",OIL,Petroleum,-1,megawatthours
1,2021-07-01T01,SOCO,"Southern Company Services, Inc. - Trans",OIL,Petroleum,0,megawatthours
2,2021-07-01T02,SOCO,"Southern Company Services, Inc. - Trans",OIL,Petroleum,0,megawatthours

In [73]:
df_oil = df_oil[['period', 'value']]
df_oil.head(3)

          period  value
0  2021-07-01T00     -1
1  2021-07-01T01      0
2  2021-07-01T02      0

In [74]:
df_oil.to_csv('../data/df_oil.csv')

## Hydro

In [34]:
params_hydro = {
    'api_key': api_key,
    "frequency": "hourly", # pulling data in hourly.
    "data[]": "value", # amount of energy produced or consumed?
    "facets[fueltype][]":"WAT", # energy source (solar)
    "facets[respondent][]": "SOCO", # recording location of data (Southern Company)
    "start": "2021-07-01", # Time frame to pull data (start and end date)
    "end": "2022-07-29",
    "offset": 0
}

In [35]:
dfs_hydro = []
for off in range(0, 30000, 5000):
    
    params_hydro["offset"] = off
    
    resp_hydro = requests.get(base_url, params=params_hydro)
    
    data_hydro = resp_hydro.json()
    
    df_hydro = pd.DataFrame(data_hydro['response']['data'])
    
    dfs_hydro.append(df_hydro)

In [39]:
df_hydro = pd.concat(dfs_hydro)
df_hydro.head(3)

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2021-07-01T00,SOCO,"Southern Company Services, Inc. - Trans",WAT,Hydro,1900,megawatthours
1,2021-07-01T01,SOCO,"Southern Company Services, Inc. - Trans",WAT,Hydro,1202,megawatthours
2,2021-07-01T02,SOCO,"Southern Company Services, Inc. - Trans",WAT,Hydro,1056,megawatthours

In [75]:
df_hydro = df_hydro[['period', 'value']]
df_hydro.head(3)

          period  value
0  2021-07-01T00   1900
1  2021-07-01T01   1202
2  2021-07-01T02   1056

In [76]:
df_hydro.to_csv('../data/df_hydro.csv')

## Wind

In [54]:
params_wind = {
    'api_key': api_key,
    "frequency": "hourly", # pulling data in hourly.
    "data[]": "value", # amount of energy produced or consumed?
    "facets[fueltype][]":"WND", # energy source (solar)
    "facets[respondent][]": "SOCO", # recording location of data (Southern Company)
    "start": "2021-07-01", # Time frame to pull data (start and end date)
    "end": "2022-07-29",
    "offset": 0
}

In [55]:
dfs_wind = []
for off in range(0, 30000, 5000):
    
    params_wind["offset"] = off
    
    resp_wind = requests.get(base_url, params=params_wind)
    
    data_wind = resp_wind.json()
    
    df_wind = pd.DataFrame(data_wind['response']['data'])
    
    dfs_wind.append(df_wind)

In [58]:
df_wind = pd.concat(dfs_wind)
df_wind.head(3)

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2021-07-01T00,SOCO,"Southern Company Services, Inc. - Trans",WND,Wind,0,megawatthours
1,2021-07-01T01,SOCO,"Southern Company Services, Inc. - Trans",WND,Wind,0,megawatthours
2,2021-07-01T02,SOCO,"Southern Company Services, Inc. - Trans",WND,Wind,0,megawatthours

In [77]:
df_wind = df_wind[['period', 'value']]
df_wind.head(3)

          period  value
0  2021-07-01T00      0
1  2021-07-01T01      0
2  2021-07-01T02      0

In [78]:
df_wind.to_csv('../data/df_wind.csv')

## Other

In [59]:
params_oth = {
    'api_key': api_key,
    "frequency": "hourly", # pulling data in hourly.
    "data[]": "value", # amount of energy produced or consumed?
    "facets[fueltype][]":"OTH", # energy source (solar)
    "facets[respondent][]": "SOCO", # recording location of data (Southern Company)
    "start": "2021-07-01", # Time frame to pull data (start and end date)
    "end": "2022-07-29",
    "offset": 0
}

In [60]:
dfs_oth = []
for off in range(0, 30000, 5000):
    
    params_oth["offset"] = off
    
    resp_oth = requests.get(base_url, params=params_oth)
    
    data_oth = resp_oth.json()
    
    df_oth = pd.DataFrame(data_oth['response']['data'])
    
    dfs_oth.append(df_oth)

In [61]:
df_oth = pd.concat(dfs_oth)

In [63]:
df_oth.head(3)

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2021-07-01T00,SOCO,"Southern Company Services, Inc. - Trans",OTH,Other,366,megawatthours
1,2021-07-01T01,SOCO,"Southern Company Services, Inc. - Trans",OTH,Other,373,megawatthours
2,2021-07-01T02,SOCO,"Southern Company Services, Inc. - Trans",OTH,Other,370,megawatthours

In [79]:
df_oth = df_oth[['period', 'value']]
df_oth.head(3)

          period  value
0  2021-07-01T00    366
1  2021-07-01T01    373
2  2021-07-01T02    370

In [80]:
df_oth.to_csv('../data/df_oth.csv')

## Demand

In [38]:
params_dem = {
    'api_key': api_key,
    "frequency": "hourly", # pulling data in hourly.
    "data[]": "value", # amount of energy produced or consumed?
    "facets[type][]":"D", # energy source (solar)
    "facets[respondent][]": "SOCO", # recording location of data (Southern Company)
    "start": "2021-07-01", # Time frame to pull data (start and end date)
    "end": "2022-07-29",
    "offset": 0
}

In [65]:
dfs_dem = []
for off in range(0, 15000, 5000):
    
    params_dem["offset"] = off
    
    resp_dem = requests.get("https://api.eia.gov/v2/electricity/rto/region-data/data/", params=params_dem)
    
    data_dem = resp_dem.json()
    
    df_dem = pd.DataFrame(data_dem['response']['data'])
    
    dfs_dem.append(df_dem)

In [81]:
df_dem = pd.concat(dfs_dem)
df_dem.head()

,period,respondent,respondent-name,type,type-name,value,value-units
0,2021-07-01T00,SOCO,"Southern Company Services, Inc. - Trans",D,Demand,36125,megawatthours
1,2021-07-01T01,SOCO,"Southern Company Services, Inc. - Trans",D,Demand,34645,megawatthours
2,2021-07-01T02,SOCO,"Southern Company Services, Inc. - Trans",D,Demand,33434,megawatthours
3,2021-07-01T03,SOCO,"Southern Company Services, Inc. - Trans",D,Demand,31369,megawatthours
4,2021-07-01T04,SOCO,"Southern Company Services, Inc. - Trans",D,Demand,29049,megawatthours

In [82]:
df_dem = df_dem[['period', 'value']]
df_dem.head(3)

          period  value
0  2021-07-01T00  36125
1  2021-07-01T01  34645
2  2021-07-01T02  33434

In [83]:
df_dem.to_csv('../data/df_dem.csv')