In [1]:
import requests
import pandas as pd
from secret import keys

C:\Users\FFF\anaconda3\envs\learn-env\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\FFF\anaconda3\envs\learn-env\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\FFF\anaconda3\envs\learn-env\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
api_key = keys.API_KEY

In [3]:
base_url = 'https://api.eia.gov/v2/electricity/rto/fuel-type-data/data'

In [4]:
params = {
    'api_key': api_key,
    "frequency": "hourly", # pulling data in hourly.
    "data[]": "value", # amount of energy produced or consumed?
    "facets[fueltype][]":["SUN", "NG", "OIL"], # energy source (solar)
    "facets[respondent][]": "SOCO", # recording location of data (Southern Company)
    "start": "2021-07-01", # Time frame to pull data (start and end date)
    "end": "2022-07-29",
    "offset": 0
}

In [5]:
dfs = []
for off in range(0, 30000, 5000):
    
    params["offset"] = off
    
    resp = requests.get(base_url, params=params)
    
    data = resp.json()
    
    df = pd.DataFrame(data['response']['data'])
    
    dfs.append(df)

In [6]:
df2 = pd.pivot(data=pd.concat(dfs), index='period', columns='fueltype', values='value')
df2

fueltype          NG  OIL   SUN
period
2021-07-01T00  20540   -1   177
2021-07-01T01  19923    0    32
2021-07-01T02  18983    0     0
2021-07-01T03  17476   -1     0
2021-07-01T04  15457    0     0
...              ...  ...   ...
2022-07-28T19  22715    0  1099
2022-07-28T20  23071   -1  1006
2022-07-28T21  23724    0   798
2022-07-28T22  23025    0   765
2022-07-28T23  23101    0   484

[9432 rows x 3 columns]

In [8]:
df2.index = pd.to_datetime(df2.index)

In [9]:
df2['SUN']

period
2021-07-01 00:00:00     177
2021-07-01 01:00:00      32
2021-07-01 02:00:00       0
2021-07-01 03:00:00       0
2021-07-01 04:00:00       0
                       ...
2022-07-28 19:00:00    1099
2022-07-28 20:00:00    1006
2022-07-28 21:00:00     798
2022-07-28 22:00:00     765
2022-07-28 23:00:00     484
Name: SUN, Length: 9432, dtype: int64

In [38]:
!pwd

/c/Users/FFF/Desktop/Flatiron/Projects/phase_4_solar_power/Notebooks

In [10]:
df2.to_csv('../data/df2.csv')