In [2]:
import requests 
import pandas as pd
import matplotlib 
from secret import keys

In [3]:
api_key = keys.API_KEY

In [8]:
base_url = 'https://api.eia.gov/v2/electricity/rto/fuel-type-data/data'

In [19]:
params = {
    'api_key': api_key,
    "frequency": "hourly",
    "data[]": "value",
    "facets[fueltype][]": "SUN",
    "facets[respondent][]": "SOCO",
    "start": "2022-07-01",
    "end": "2022-07-29"
}

In [20]:
resp = requests.get(base_url, params = params)

In [21]:
resp.status_code

200

In [26]:
data = resp.json()

In [57]:
data['response'].keys()

dict_keys(['query execution', 'count query execution', 'total', 'dateFormat', 'frequency', 'data', 'description'])

In [34]:
df = pd.DataFrame(data['response']['data'])
df

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2022-06-01T00,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,893,megawatthours
1,2022-06-01T01,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,51,megawatthours
2,2022-06-01T02,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,-3,megawatthours
3,2022-06-01T03,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
4,2022-06-01T04,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
...,...,...,...,...,...,...,...
1387,2022-07-28T19,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,1099,megawatthours
1388,2022-07-28T20,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,1006,megawatthours
1389,2022-07-28T21,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,798,megawatthours
1390,2022-07-28T22,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,765,megawatthours
1391,2022-07-28T23,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,484,megawatthours

In [50]:
params_2 = {
    'api_key': api_key,
    "frequency": "hourly",
    "data[]": "value",
    "facets[fueltype][]": "SUN",
    "facets[respondent][]": "SOCO",
    "start": "2021-07-01",
    "end": "2022-12-31"
}

In [51]:
resp_2 = requests.get(base_url, params = params_2)

In [52]:
data_2 = resp_2.json()

In [65]:
df_2 = pd.DataFrame(data_2['response']['data'])
df_2

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2021-07-01T00,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,177,megawatthours
1,2021-07-01T01,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,32,megawatthours
2,2021-07-01T02,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
3,2021-07-01T03,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
4,2021-07-01T04,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
...,...,...,...,...,...,...,...
4995,2022-01-25T03,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
4996,2022-01-25T04,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,-2,megawatthours
4997,2022-01-25T05,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
4998,2022-01-25T06,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
4999,2022-01-25T07,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,-1,megawatthours

In [44]:
params_3 = {
    'api_key': api_key,
    "frequency": "hourly",
    "data[]": "value",
    "facets[fueltype][]": "SUN",
    "facets[respondent][]": "SOCO",
    "start": "2022-01-01",
    "end": "2022-06-30"
}

In [45]:
resp_3 = requests.get(base_url, params = params_3)

In [47]:
data_3 = resp_3.json()

In [64]:
df_3 = pd.DataFrame(data_3['response']['data'])
df_3

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2022-01-01T00,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
1,2022-01-01T01,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
2,2022-01-01T02,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
3,2022-01-01T03,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
4,2022-01-01T04,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
...,...,...,...,...,...,...,...
4315,2022-06-29T19,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,2383,megawatthours
4316,2022-06-29T20,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,1886,megawatthours
4317,2022-06-29T21,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,1347,megawatthours
4318,2022-06-29T22,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,670,megawatthours
4319,2022-06-29T23,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,296,megawatthours

In [60]:
frames = [df, df_2, df_3]

In [61]:
result = pd.concat(frames)

In [63]:
pd.concat(frames)

,period,respondent,respondent-name,fueltype,type-name,value,value-units
0,2022-06-01T00,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,893,megawatthours
1,2022-06-01T01,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,51,megawatthours
2,2022-06-01T02,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,-3,megawatthours
3,2022-06-01T03,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
4,2022-06-01T04,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,0,megawatthours
...,...,...,...,...,...,...,...
4315,2022-06-29T19,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,2383,megawatthours
4316,2022-06-29T20,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,1886,megawatthours
4317,2022-06-29T21,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,1347,megawatthours
4318,2022-06-29T22,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,670,megawatthours
4319,2022-06-29T23,SOCO,"Southern Company Services, Inc. - Trans",SUN,Solar,296,megawatthours